<h1><%= @mechanic.name %></h1>
<p><strong>Years Experience:</strong> <%= @mechanic.years_experience %></p>
<br>
<div id="rides_working_on">
  <h3>Rides Working On:</h3>
  <%= @mechanic.mechanic_rides.each do |broken_ride| %>
    <div id="ride-<%= broken_ride.ride_id %>">
      <%= broken_ride.ride.name %>
    </div>
  <% end %>
</div>