<h1>Name: <%= @mechanic.name %></h1>
<h2>Years Experience: <%= @mechanic.years_experience %></h2>
<h3>Rides working on:</h3>
<ul>
  <% @mechanic.rides.each do |ride| %>
    <li><%= ride.name %></li>
  <% end %>
</ul>
<%= form_with url: "/mechanics/#{@mechanic.id}/ride_mechanics", method: :post, data: {turbo: false} do |f| %>
  <%= f.text_field "ride_id" %>
  <%= f.submit "Submit" %>
<% end %>
