<h1><%= @mechanics.name %></h1>

<h3>Mechanic: <%= @mechanics.name%></h3>
<h3>Years of Experience: <%= @mechanics.years_experience %></h3>

<h3>Current rides they're working on:</h3>
    <ul>
<% @mechanics.rides.each do |ride| %>
  <li><%= ride.name %></li>
  </ul>
<% end %>

<section id="add_ride-<%= @mechanics.id %>">
<%= form_with url: "/mechanics/#{@mechanics.id}/rides", method: :post, data: {turbo: false} do |f| %>
    <%= f.label :add_ride, "Add another ride to their workload" %>
    <%= f.text_field :add_ride %>
    <%= f.submit "Submit " %>
<% end %>
</section>