<h1><%= @mechanic.name %>

<p>years of experience: <%= @mechanic.years_experience %></p>

<p>Rides on their Docket</p>
<ul>
  <% @mechanic.rides.each do |ride| %>
    <li><%= ride.name %></li>
  <% end %>

  <p>Add a ride to docket</p>
  <%= form_with url: "/mechanics/#{@mechanic.id}/rides", method: :post, data:{turbo: false} do |form| %>
    <%= form.label :ride_id, "ride ID" %>
    <%= form.number_field :ride_id %>
    <%= form.submit "Add Ride"%>
  <% end %>