<h1><%= @mechanic.name %>'s Show Page</h1>

<h4><%= @mechanic.name %>'s Details:</h4>
<p>Name: <%= @mechanic.name %></p>
<p>Years of Experience: <%= @mechanic.years_experience %></p></br>

<h4>Rides Currently Servicing:</h4>
<div class="ride-list">
  <p><%= @mechanic.rides %></p>
</div>