<h1><%= @amusement_park.name %></h1>

<h3>Price of Admission: <%= @amusement_park.admission_cost %></h3>
<h3>Mechanics working on rides at <%= @amusement_park.name %>:</h3>
<ul>
<% @amusement_park.ride_mechanics.each do |mechanic| %>
  <li><%= mechanic.name %></li>
<% end %>
</ul>

<h3><%= @amusement_park.name %>'s Rides:</h3>
<ul>
<% @amusement_park.rides.each do |ride| %>
  <li><%= ride.name %>, Mechanic Average Experience: <%= ride.avg_mechanic_experience %></li>
<% end %>
</ul>