<ul id="single_amusement_park">
  <%= "Name: #{@amusement_park.name}" %></br>
  <%= "Entry cost: #{@amusement_park.admission_cost}" %> </br>

  <h2>List of mechanics working on rides:</h2>
  <% @amusement_park.current_mechanics.each do |mechanic| %>
    <td><%= mechanic.name %></td></br>
  <% end %></br>
</ul>


  <h2>List of park rides and average mechanic experience:</h2>
  <% @amusement_park.rides_with_average_mechanic_years.each do |ride| %>
    <td><%= ride.name %></td></br>
    <td><%= ride.avg %></td></br>
  <% end %></br>
